#不要用记事本修改该文件

*.*

*.pdb
*.suo
*.user
*.vs

!.gitignore

#仅保留代码相关
!*.h
!*.cs
!*.csproj
!*.config
!*.resx
!*.sln
![Aa]pp.manifest
!*.settings
App.config

#混淆
!*.nrproj

#其他
!*.txt
!*.bat
!*.ico
!LICENSE*
!README
!*/Resources/*

#完全要忽略的
[Oo]bj/
[Dd]ebug
[Rr]elease

